/* common_styles.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #deeffc;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}
nav {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: flex-start;
  gap: 10vw;
  background-color: hsl(205, 21%, 59%);
  z-index: 1;
  width: 100%;
}

nav > img {
  max-width: 200px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 5vw;
  background-color: #829bad;
  margin: 0;
  align-items: center;
}

nav ul li {
  font-size: 1.25rem;
  text-align: center;
  font-family: "Inter", sans-serif;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
}

nav ul li a:hover {
  color: #ddd;
  cursor: pointer;
}

nav ul li > #Wyloguj {
  background-color: #486284;
  border-radius: 50px;
  padding: 10px;
}

nav ul li > #Wyloguj:hover {
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    #309185 0px 18px 36px -18px inset;
}

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  display: none;
}

.hamburger:hover {
  cursor: pointer;
}

.backgroundImg {
  /*position: absolute;*/
  position: fixed;
  max-width: 60%;
  z-index: -1;
  opacity: 0.5;
  /*top: 0;*/
  top:15vh;
  right: -100px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5vh;
  align-items: flex-start;
  align-self: flex-start;
  margin-left: 5vw;
}

.content h2 {
  color: #0e4064;
}
.content h1,
h2,
h3 {
  margin: 0;
}
.content i {
  font-size: 1.5rem;
  color: #1b796e;
}

#title {
  text-align: center;
  color: #0e4064;
  font-family: "Inter", sans-serif;
  margin: 5vh 0;
}

.upload {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
  align-items: center;
  background-color: #829bad7c;
  /* background: linear-gradient(to bottom, #829bad7c, rgb(110, 174, 166)); */
  border: 1px dashed #0e4064;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    #309185 0px 18px 36px -18px inset; */
  padding: 10px 15vw;
}

.upload h2 {
  color: #0e4064;
}

.upload h3 {
  color: rgb(82, 82, 82);
}
.upload > input,textarea,select {
  background-color: #829bad;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
}
.upload > input::placeholder,textarea::placeholder {
  color: white;
  text-align: center;
}

.upload > input:focus,textarea:focus {
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
  #309185 0px 18px 36px -18px inset;
}

.upload > button{
  background-color: #486284;
  border-radius: 50px;
  border-style: none;
  padding: 10px 20px;
  color: white;
}

.upload > button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
  #309185 0px 18px 36px -18px inset;
  cursor: pointer;
}

.check {
  transform: scale(2);
}

.fa-solid:hover {
  color: #309185;
}


@media screen and (max-width: 768px) {
  .backgroundImg {
    display: none;
  }

  nav {
    align-items: center;
    justify-content: space-around;
  }

  nav > ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-size: 1rem;
  }
  .buttons {
    position: fixed;
    left: -100%;
    /* top: 60px; */
    gap: 0;
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    background: linear-gradient(to bottom, #829bad, #a7bfcc);
  }

  .buttons.active {
    left: 0;
  }

  .hamburger {
    display: contents;
  }

  #title {
    font-size: 1.25rem;
  }

  .upload h2,
  .upload h3 {
    font-size: 1rem;
  }

  .content {
    align-self: center;
    margin: 0;
  }
}
