.container {
  display: flex;
  border: 5px solid black;
  height: 90vh;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1em;
}

.box {
  width: 150px;
  height: 150px;
  font-size: 5rem;
  text-align: center;
  border-radius: 15px;
}
#box1 {
  background-color: rgb(173, 58, 58);
}
#box2 {
  background-color: rgb(16, 74, 16);
}
#box3 {
  background-color: rgb(150, 150, 32);
}
#box4 {
  background-color: rgb(19, 100, 158);
}
