/* Styl ogólny dla większych ekranów */
body {
  margin: 0;
  background-color: #deeffc;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10vh; /* Zmiana na vh */
  position: relative;
  margin: 0 10vw;
}

.obrazek_w_tle {
  position: absolute;
  z-index: -1;
  top: 2em;
  right: 2em;
  opacity: 0.7;
}

.login_box {
  background-color: #829bad;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vh; /* Zmiana na vh */
  padding: 1em;
  border-radius: 1em;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.message{
  color:white;
  font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4vh; /* Zmiana na vh */
  padding-top: 1em;
  font-family: "Inter", sans-serif;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 2vh; /* Zmiana na vh */
}

.inputs input {
  background-color: #829bad;
  color: white;
  border-style: none;
  border-bottom: white solid 0.1em;
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, #309185 0px 18px 36px -18px inset;*/
  font-size: 1.5em;
  font-weight: 100;
}
::placeholder {
  color: white;
}

/*.inputs input:focus {*/
/*  outline: none; !* Usunięcie domyślnej obramowania *!*/
/*  border-style:none;*/
/*  !*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, #309185 0px 18px 36px -18px inset;*!*/
/*}*/

.Log_in {
  background-color: #304341;
  border-radius: 2em;
  color: white;
  border-style: none;
  padding: 1em 2em;
  font-size: 1.75em;
  justify-content: space-evenly;
}

.h {
  color: #666363;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.h h3 {
  font-size: 0.9em;
  margin: 0;
}

.h h2 {
  color: #304341;
  font-size: 1.75em;
  margin: 0;
}

/*efekty wizualne*/
.Log_in:hover {
  cursor: pointer; /* Zmiana ikonki myszki na dłoń */
  background-color: #283738; /* Zmiana koloru tła przycisku na hover (przykładowy kolor) */
}

.h h2:hover {
  cursor: pointer; /* Zmiana ikonki myszki na dłoń */
  color: #1b262c; /* Zmiana koloru tekstu na hover (przykładowy kolor) */
  /* Dodatkowe stylizacje, które mogą Cię zainteresować */
  /* text-decoration: underline; - Dodanie podkreślenia tekstu na hover */
  /* font-weight: 700; - Zwiększenie grubości czcionki na hover */
}

/* Media queries dla urządzeń o szerokości ekranu mniejszej niż 768px (mobilne) */
@media (max-width: 768px) {
  .obrazek_w_tle {
    display: none; /* Ukryj obrazek w tle */
  }

  .container {
    gap: 15vh;
    margin: 5vh 0 0;
    align-items: center;
  }

  form {
    gap: 8vh;
  }
  .inputs {
    gap: 4vh;
  }

  .login_box {
    gap: 10vh;
  }
}
