.profilePic{
    max-width: 200px;
    object-fit: cover;
    border-radius: 25%;
}

.content{
    background-color: #829badc9;
    align-items: center;
    margin-left: 0;
    padding: 5vh 2vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}
.profile{
    display: flex;
    justify-content: flex-start;
    gap: 3vw;
}
.backgroundImg{
    opacity: 0.3;
}

.user_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
}


.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#resultContainer{
    margin: 0;
    color: #0e4064;
}


@media screen and (max-width: 768px){
    .content {
        align-self: center;
        margin: 0;
    }
    .profile{
        flex-direction: column;
    }
    .formContainer{
        gap:2vh;
    }
}
