/* Styl ogólny dla większych ekranów */
body {
  margin: 0;
  background-color: #deeffc;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10vh; /* Zmiana na vh */
  position: relative;
  margin: 8vh 0 0 25vw;
}


.register_box {
  background-color: #829bad;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vh; /* Zmiana na vh */
  padding: 1em;
  border-radius: 1em;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.register_box a{
  text-decoration: none;
  color: #0e4064;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4vh; /* Zmiana na vh */
  padding-top: 1em;
  font-family: "Inter", sans-serif;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 2vh; /* Zmiana na vh */
}

.inputs input {
  background-color: #829bad;
  color: white;
  border-style: none;
  border-bottom: white solid 0.1em;
  font-size: 1.5em;
  font-weight: 100;
}

.inputs input:focus {
  outline: none;
}

::placeholder {
  color: white;
}

.register {
  background-color: #304341;
  border-radius: 2em;
  color: white;
  border-style: none;
  padding: 10px 20px;
  font-size: 1.75em;
  justify-content: space-evenly;
}

.h {
  color: #666363;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.h h3 {
  font-size: 0.9em;
  margin: 0;
}

.h h2 {
  color: #304341;
  font-size: 1.75em;
  margin: 0;
}

/* Efekty wizualne */
.register:hover {
  cursor: pointer; /* Zmiana ikonki myszki na dłoń */
  background-color: #283738; /* Zmiana koloru tła przycisku na hover (przykładowy kolor) */
}

.h h2:hover {
  cursor: pointer; /* Zmiana ikonki myszki na dłoń */
  color: #1b262c; /* Zmiana koloru tekstu na hover (przykładowy kolor) */
  /* Dodatkowe stylizacje, które mogą Cię zainteresować */
  /* text-decoration: underline; - Dodanie podkreślenia tekstu na hover */
  /* font-weight: 700; - Zwiększenie grubości czcionki na hover */
}

/* Media queries dla urządzeń o szerokości ekranu mniejszej niż 768px (mobilne) */
@media (max-width: 768px) {
  body{
    overflow-y: scroll;
  }
  .obrazek_w_tle {
    display: none; /* Ukryj obrazek w tle */
  }

  .container {
    gap: 5vh;
    margin: 5vh 0 0;
    align-items: center;
  }

  form {
    gap: 8vh;
  }
  .inputs {
    gap: 4vh;
  }

  .register_box {
    gap: 10vh;
  }
}
