.give_new_task {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vh;
}


.task {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3vh;
  background-color: #b5c6d5a1;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.task_component {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 2vw;
}
.task_component a {
  text-decoration: none;
  color: #0e4064;
  font-size: 1.5rem;
}

.task_component a:hover {
  color: #1b796e;
}

.task_component p{
  color:#0e4064;
  font-size: 1.5rem;
  margin: 0;
}


.grade {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
}
.grades {
  display: flex;
  justify-content: flex-start;
  gap: 2vw;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.grades li {
  display: block;
}

/* .grades li:not(.selected) {
  display: none;
} */


