.give_new_task {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vh;
}

.grade {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
}
.grades {
  display: flex;
  justify-content: flex-start;
  gap: 2vw;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.grades li {
  display: block;
}


