.exercise_not_done {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  /* padding-left: 10px; */
}
.exercise_title {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  font-size: 1.5em;
}

.exercise_not_done i {
  font-size: 2em;
  color: #1b796e;
}

.exercise_done {
  display: flex;
  justify-content: flex-start;
  gap: 15vw;
  /* padding-left: 10px; */
  align-items: center;
}

.exercise_done h2 {
  color: #0e4064;
  margin: 0;
}
.exercise_done h3 {
  color: red;
  margin: 0;
}

.exercise {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vh;
}
.uploaded_file {
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
  align-items: center;
}
.grade {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vh;
}

.exercise_title a {
  text-decoration: none;
  color: #0e4064;
  font-size: 1.5rem;
}

.exercise_title a:hover {
  color: #1b796e;
}

@media screen and (max-width: 768px) {
  /* Zmniejszenie czcionki dla elementów w sekcji .content */
  .exercise_title,
  .check,
  .upload h2,
  .upload h3,
  .exercise_done h2,
  .exercise_done h3 {
    font-size: 1rem;
  }
}
